@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");

/* variables */
:root {
  --my-num: 1000px;
  --conpass-blue: #0fc0c7;
  --conpass-snow: #fff;
  --conpass-glacier: #ebebeb;
  --conpass-ice: #adadad;
  --conpass-option: #4a90e2;
  --conpass-charcol: #000;
  --conpass-attention: #f23636;
  --px-20: 20px;
  --font-roboto: "Roboto", sans-serif;
}
/* -- */

/* Animations */
@keyframes overIt {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0.75);
  }
}

@keyframes spriteUp {
  0 % {
    transform: scale(1);
    opacity: 0;
  }
  1% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.01);
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes toOpaque {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 0.45;
  }
}

@keyframes waggle {
  0% {
    box-shadow: 0 0 0 0 var(--conpass-blue);
  }
  50% {
    box-shadow: 0 0 0 5px 0fc0c7f0;
  }
  80% {
    box-shadow: 0 0 0 10px #0fc0c788;
  }
  100% {
    box-shadow: 0 0 0 15px #0fc0c700;
  }
}

@keyframes unfoldDown {
  0% {
    transform: scaleY(1) translateY(60px);
    opacity: 0;
  }
  1% {
    transform: scaleY(0) translateY(-60px);
    opacity: 1;
  }
  50% {
    transform: scaleY(0.5) translateY(-50px);
  }
  90% {
    transform: scaleY(1) translateY(0);
  }
  100% {
    transform: scaleY(0.8) translateY(0);
  }
}
/* -- */

* {
  box-sizing: border-box;
  box-shadow: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-roboto);
}

html,
body,
#root,
#App > div {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.5 ease-in;
}

a:hover {
  color: var(--conpass-blue);
}

#main-div {
  padding: 0;
  width: 100%;
  min-height: 100%;
  margin: 0;
}

.cursor-none {
  cursor: none;
}

#navbar {
  top: 0;
  left: var(--px-20);
  width: 90%;
  z-index: 10;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  padding: var(--px-20);
  justify-content: flex-start;
  box-shadow: 0 2px 0 0 var(--conpass-glacier);
}

#navbar-links {
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.2rem;
  color: var(--conpass-ice);
  justify-items: space-between;
}

#navbar-links .link {
  padding: 0 30px;
}

#navbar-links .link a {
  font-family: inherit;
  white-space: nowrap;
  line-break: strict;
  line-height: 2.5rem;
}

#conpass-logo {
  min-width: 150px;
  max-width: 150px;
}

#dashboard {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-flow: column nowrap;
}

#button-container {
  margin: 50px 0;
}

#list-container {
  display: flex;
  flex-flow: column nowrap;
  min-width: 500px;
  zmax-height: 500px;
  overflow: scroll;
}

.list-options {
  margin: 0 5px;
}

#list-title-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--conpass-glacier);
  color: var(--conpass-ice);
  padding: var(--px-20);
}

#list-title-container h2 {
  font-size: 1.25rem;
  font-weight: 200;
  margin: 0;
}

.list-item-container {
  display: flex;
  flex-flow: row nowrap;
  color: var(--conpass-ice);
  font-size: 1.15rem;
  background-color: var(--conpass-snow);
  box-shadow: inset 0 2px 0 0 var(--conpass-glacier);
  justify-content: space-between;
  animation: 0.3s unfoldDown;
}

.temp-hot-height {
  position: relative;
  min-height: 64px;
  padding-top: 20px;
  text-align: center;
  color: var(--conpass-blue);
}

.temp-hot-height:before {
  content: "...";
  position: absolute;
  font-size: 2.5rem;
  line-height: 0;
  left: 224px;
  animation: dotDotDOT 2s infinite;
}

@keyframes dotDotDOT {
  0% {
    content: "";
    opacity: 1;
  }
  10% {
    content: ".";
  }
  25% {
    content: "..";
  }
  40% {
    content: "...";
  }
  100% {
    opacity: 0;
  }
}

.list-item-container h3 {
  font-weight: 300;
  font-size: 1.25rem;
}

#list-item-option-container {
  display: flex;
}

#list-item-option-container a {
  color: var(--conpass-option);
  text-decoration: underline;
  padding: 10px;
  line-height: 2.25rem;
}

#create-hotspot {
  background-color: var(--conpass-blue);
  color: var(--conpass-snow);
  border: none;
  border-radius: var(--px-20);
  padding: 7px 12px;
  font-size: 1.25rem;
}

button:hover {
  animation: waggle 0.4s;
}

#click-catcher {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.hotspot-pointer {
  z-index: 500;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  padding: 10px;
  border: 2px solid var(--conpass-attention);
  border-radius: 50%;
  background-color: transparent;
  box-shadow: inset 0 0 0px 2px var(--conpass-attention);
  position: absolute;
}

.overlay:hover {
  box-shadow: inset 0 0 0 3px var(--conpass-attention),
    inset 0 0 0 var(--my-num) rgba(255, 0, 0, 0.342);
  border: none;
}

.hotspot-pointer:hover {
  box-shadow: inset 0 0 0px 2px var(--conpass-attention);
}

.hotspot {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  opacity: 1;
  transition: all 0.5s ease-in;
}

.hotspot:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 0px;
  background-color: var(--conpass-attention);
  border-radius: 50%;
  opacity: 0.5;
  animation: toOpaque 1s infinite;
}

.hotspot:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: -5px;
  left: -5px;
  box-shadow: inset 0 0 0 3px var(--conpass-attention);
  border-radius: 50%;
  opacity: 0.75;
  animation: expand 1s infinite;
}

.hotspot:hover {
  animation: overIt 0.5s forwards;
}

.hotspot:hover:before {
  animation-play-state: paused;
}

.hotspot:hover:after {
  animation-play-state: paused;
}

.noBorder {
  border: none;
  box-shadow: none;
}

#form-group {
  position: absolute;
  z-index: 600;
  left: 0;
  border: 1px solid var(--conpass-glacier);
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  background-color: var(--conpass-snow);
  box-shadow: 0 1px 5px 0 var(--conpass-glacier);
  transform: scale(1);
  opacity: 0;
  animation: 0.3s spriteUp ease-in forwards;
}

.form-pointer:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: -15px;
  left: 140px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid var(--conpass-glacier);
}

.form-pointer_down:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  bottom: -15px;
  left: 140px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid var(--conpass-glacier);
}

.form-pointer_right:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 15px;
  right: -15px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid var(--conpass-glacier);
}

.form-pointer_left:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 15px;
  left: -15px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid var(--conpass-glacier);
}

.form-button-group {
  display: flex;
  flex-flow: row nowrap;
}

.form-button {
  color: var(--conpass-option);
  font-weight: 500;
  text-decoration: underline;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

#form-input-group {
  display: flex;
  flex-flow: column nowrap;
}

.form-input {
  border: 1px solid var(--conpass-glacier);
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}

.form-input_disabled {
  border: none;
}

.form-input_disabled:nth-child(odd) {
  border: none;
  font-size: 1.2rem;
  color: var(--conpass-charcol);
}

.highlight {
  box-shadow: 0 0 15px 2px var(--conpass-blue);
}

.hotspot,
button {
  cursor: pointer;
}

/* Media queries */

@media screen and (min-width: 1200px) {
  #navbar {
    justify-content: space-between;
  }
}
